/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button,
.button {
  display: inline-block;
  padding: var(--Small) var(--Large);
  margin: 0;
  font-size: 1rem;
  color: var(--Black);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--Grey);
  border: none;
  transition: all 0.35s linear;

  &:hover,
  &:focus {
    background-color: var(--GreyDark);
  }
}
