/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	min-height: 200px;
	border-bottom: 1px solid var(--Grey);

	& h1 {
		margin: 0;
	}
}