/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	& .copyright {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--GreyLight);
		padding: 0 var(--Medium);
		font-size: 13px;

		& a {
			text-decoration: none;
			color: inherit;

			&:hover,
			&:focus {
				text-decoration: none;

				& span {
					text-decoration: underline;
					color: #e95555;
				}
			}
		}
	}
}