/*-----------------------------------*\
	CARDS
\*-----------------------------------*/
section.card-grid {
	& .card {
		position: relative;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: var(--Medium);
		border: 1px solid var(--Grey);
		width: 100%;

		&>* {
			flex: 0 0 auto;
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& figure {
			position: relative;
			top: -1rem;
			left: -1rem;
			width: calc(100% + 2rem);
			min-height: 200px;
			margin: 0;

			& img {
				display: block;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		& h2 {
			margin: 0;
		}

		& p {
			flex: 1 1 auto;
		}

		& a.button {
			margin: 0;
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.card-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 32px;
	margin: var(--xLarge) auto;


	@media(--phone) {

		&.columns-2,
		&.columns-4 {
			grid-template-columns: repeat(2, 1fr);
		}

		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media(--tablet) {
		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}