/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--White: #f8f8f8;
	--GreyLight: #eeeeee;
	--Grey: #dddddd;
	--GreyDark: #9a9a9a;
	--Black: #252525;
}